LogGeneratorConfig {
    logConfigFilePath = generate-log-service/tlog.xml
    logTypeDefaultValue = Tencent

    logServiceDir = src/main/java/app/game/service/log/
    logServiceClassFileName = LogService.java
    logServiceTemplateFilePath = generate-log-service/LogServiceTemplate.vm

    molinLogServiceDir = src/main/java/app/game/service/log/
    molinLogServiceClassFileName = MolinLogService.java
    molinLogServiceTemplateFilePath = generate-log-service/MolinLogServiceTemplate.vm

    tencentLogServiceDir = src/main/java/com/qq/ptlogin2/
    tencentLogServiceClassFileName = TencentLogService.java
    tencentLogServiceTemplateFilePath = generate-log-service/TencentLogServiceTemplate.vm

    inputTencentFormatFilePath = generate-log-service/input_tencent_format.xlsx
    outputTencentFormatFilePath = generate-log-service/output_tencent_format.xlsx

    specialArgs {
        dtEventTime = {
            howToGet = logManager.getDtEventTime()
        }
        operatorID = {
            fromType = app.game.entity.Hero
            howToGet = getOperatorId()
        }
        iWorldId = {
            fromType = app.game.entity.Hero
            howToGet = getServerId()
        }
        iUin = {
            fromType = app.game.entity.Hero
            howToGet = getUin()
        }
        vAccountName = {
            fromType = app.game.entity.Hero
            howToGet = getUin()
        }
        iRoleId = {
            fromType = app.game.entity.Hero
            howToGet = getID()
        }
        vRoleName = {
            fromType = app.game.entity.Hero
            howToGet = getName()
        }
        iJobId = {
            fromType = app.game.module.spell.SpellModuleObj
            howToGet = getIntRace()
            importClasses = app.game.module.spell.SpellModuleMessages
        }
        iRoleLevel = {
            fromType = app.game.entity.Hero
            howToGet = getSceneModuleObj().getHeroLevel().getLevel()
        }
        iRoleExp = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getHeroValues().get(ValueType.EXP).getCur()
            importClasses = app.protobuf.client.ValueContent.ValueType
        }
        iYinzi = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getHeroValues().get(ValueType.MONEY).getCur()
            importClasses = app.protobuf.client.ValueContent.ValueType
        }
        iBangyin = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getHeroValues().get(ValueType.BAND_MONEY).getCur()
            importClasses = app.protobuf.client.ValueContent.ValueType
        }
        iGamePoints = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getHeroValues().get(ValueType.JINZI).getCur()
            importClasses = app.protobuf.client.ValueContent.ValueType
        }
        iBangjin = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getHeroValues().get(ValueType.BAND_JINZI).getCur()
            importClasses = app.protobuf.client.ValueContent.ValueType
        }
        igongxun = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getHeroValues().get(ValueType.GONGXUN).getCur()
            importClasses = app.protobuf.client.ValueContent.ValueType
        }
        ililian = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getHeroValues().get(ValueType.FAMILY_LILIAN).getCur()
            importClasses = app.protobuf.client.ValueContent.ValueType
        }
        iwuxun = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getHeroValues().get(ValueType.WUXUN).getCur()
            importClasses = app.protobuf.client.ValueContent.ValueType
        }
        ibanggong = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getHeroValues().get(ValueType.GUILD_CONTRIBUTION_POINT).getCur()
            importClasses = app.protobuf.client.ValueContent.ValueType
        }
        izhenqi = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getHeroValues().get(ValueType.ZHEN_QI).getCur()
            importClasses = app.protobuf.client.ValueContent.ValueType
        }
        isystemjinzi = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getHeroValues().get(ValueType.SYSTEM_JINZI).getCur()
            importClasses = app.protobuf.client.ValueContent.ValueType
        }
        dtCreateTime = {
            fromType = app.game.entity.Hero
            howToGet = getCreateTimeStr()
        }
        iFighting = {
            fromType = app.game.entity.Hero
            howToGet = getFightData().getFightingAmount()
        }
        iRechargeAmount = {
            fromType = app.game.entity.Hero
            howToGet = getHeroMiscModuleObj().getTotalRechargeJinzi()
        }
        vCountryName = {
            fromType = app.game.entity.Hero
            howToGet = getCountryType().name
        }
        iLoginWay = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getLoginType()
        }
        vClientIp = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = vClientIp
        }
        dtLoginTime = {
            fromType = app.game.entity.Hero
            howToGet = getHeroMiscModuleObj().getLoginTimeStr()
        }
        sceneID = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getFightData().getSceneID()
        }
        x = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getX()
        }
        y = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getY()
        }
        iOperate = {
            fromType = app.protobuf.server.LogContent.LogEnum.OperateType
            howToGet = getNumber()
        }
        iChapterTaskId = {
            fromType = app.game.module.task.TaskModuleObj
            howToGet = chapterTaskObj.getDoingTaskId()
            importClasses = app.game.module.task.TaskModuleMessages
        }
        iActivityPoint = {
            fromType = app.game.module.activity.ActivityModuleObj
            howToGet = getTodayActivityPoint()
            importClasses = app.game.module.activity.ActivityModuleMessages
        }
        iJunXian = {
            fromType = app.game.module.country.CountryModuleObj
            howToGet = getWuXun().getJunXianId()
            importClasses = app.game.module.country.CountryModuleMessages
        }
        iBloodLine = {
            fromType = app.game.module.blood_line.BloodLineModuleObj
            howToGet = getBloodLineId()
            importClasses = app.game.module.blood_line.BloodLineModuleMessages
        }
        iQiangHuaTaozStar = {
            fromType = app.game.module.container.GoodsContainerModuleObj
            howToGet = getHeroEquipment().getQiangHuaTaozStar()
            importClasses = app.game.module.container.GoodsContainerModuleMessages
        }
        iQiangHuaTaozLevel = {
            fromType = app.game.module.container.GoodsContainerModuleObj
            howToGet = getHeroEquipment().getQiangHuaTaozLevel()
            importClasses = app.game.module.container.GoodsContainerModuleMessages
        }
        iQualityTaozQuality = {
            fromType = app.game.module.container.GoodsContainerModuleObj
            howToGet = getHeroEquipment().getQualityTaozIntQuality()
            importClasses = app.game.module.container.GoodsContainerModuleMessages
        }
        iQualityTaozLevel = {
            fromType = app.game.module.container.GoodsContainerModuleObj
            howToGet = getHeroEquipment().getQualityTaozLevel()
            importClasses = app.game.module.container.GoodsContainerModuleMessages
        }
        iJingLianTaozJingLianLevel = {
            fromType = app.game.module.container.GoodsContainerModuleObj
            howToGet = getHeroEquipment().getJingLianTaozJingLianLevel()
            importClasses = app.game.module.container.GoodsContainerModuleMessages
        }
        iJingLianTaozLevel = {
            fromType = app.game.module.container.GoodsContainerModuleObj
            howToGet = getHeroEquipment().getJingLianTaozLevel()
            importClasses = app.game.module.container.GoodsContainerModuleMessages
        }
        iAvgJingLianLevel = {
            fromType = app.game.module.container.GoodsContainerModuleObj
            howToGet = getHeroEquipment().getAvgJingLianLevel()
            importClasses = app.game.module.container.GoodsContainerModuleMessages
        }
        iMountFighting = {
            fromType = app.game.module.mount.MountModuleObj
            howToGet = getMountFighting()
            importClasses = app.game.module.mount.MountModuleMessages
        }
    }

    replaceArgs {
        FIGHT_DATA = {
            index = 1
            sourceType = app.game.entity.Hero
            targetType = app.game.module.scene.FightData
            howToGet = getFightData()
        }
        TASK_MODULE_OBJ = {
            index = 2
            sourceType = app.game.entity.Hero
            targetType = app.game.module.task.TaskModuleObj
            howToGet = getModuleObj(TaskModuleMessages.MODULE_ID", TaskModuleObj.class")
        }
        ACTIVITY_MODULE_OBJ = {
            index = 3
            sourceType = app.game.entity.Hero
            targetType = app.game.module.activity.ActivityModuleObj
            howToGet = getModuleObj(ActivityModuleMessages.MODULE_ID", ActivityModuleObj.class")
        }
        SPELL_MODULE_OBJ = {
            index = 4
            sourceType = app.game.entity.Hero
            targetType = app.game.module.spell.SpellModuleObj
            howToGet = getModuleObj(SpellModuleMessages.MODULE_ID", SpellModuleObj.class")
        }
        COUNTRY_MODULE_OBJ = {
            index = 5
            sourceType = app.game.entity.Hero
            targetType = app.game.module.country.CountryModuleObj
            howToGet = getModuleObj(CountryModuleMessages.MODULE_ID", CountryModuleObj.class")
        }
        BLOOD_MODULE_OBJ = {
            index = 6
            sourceType = app.game.entity.Hero
            targetType = app.game.module.blood_line.BloodLineModuleObj
            howToGet = getModuleObj(BloodLineModuleMessages.MODULE_ID", BloodLineModuleObj.class")
        }
        GOODS_MODULE_OBJ = {
            index = 7
            sourceType = app.game.entity.Hero
            targetType = app.game.module.container.GoodsContainerModuleObj
            howToGet = getModuleObj(GoodsContainerModuleMessages.MODULE_ID", GoodsContainerModuleObj.class")
        }
        MOUNT_MODULE_OBJ = {
            index = 8
            sourceType = app.game.entity.Hero
            targetType = app.game.module.mount.MountModuleObj
            howToGet = getModuleObj(MountModuleMessages.MODULE_ID", MountModuleObj.class")
        }
        HERO = {
            index = 9
            sourceType = app.game.module.scene.HeroFightModule
            targetType = app.game.entity.Hero
            howToGet = getHero()
        }
    }
}