LogGeneratorConfig {
    logConfigFilePath = generate-log-service/tlog.xml
    logServiceDir = src/main/java/app/game/service/log/
    logServiceClassFileName = LogService.java
    logServiceTemplateFilePath = generate-log-service/ReportLogService.vm

    specialArgs {
        dtEventTime = {
            howToGet = logManager.dtEventTime
        }
        operatorID = {
            fromType = app.game.entity.Hero
            howToGet = getOperatorId()
        }
        iWorldId = {
            fromType = app.game.entity.Hero
            howToGet = getServerId()
        }
        iUin = {
            fromType = app.game.entity.Hero
            howToGet = getUin()
        }
        vAccountName = {
            fromType = app.game.entity.Hero
            howToGet = getUin()
        }
        iRoleId = {
            fromType = app.game.entity.Hero
            howToGet = getID()
        }
        vRoleName = {
            fromType = app.game.entity.Hero
            howToGet = getName()
        }
        vRoleName = {
            fromType = app.game.entity.Hero
            howToGet = getName()
        }
        iJobId = {
            fromType = app.game.entity.Hero
            howToGet = getRaceId()
        }
        iRoleLevel = {
            fromType = app.game.entity.Hero
            howToGet = getLevel()
        }
        iRoleExp = {
            fromType = app.game.entity.Hero
            howToGet = exp.get()
        }
        iMoney = {
            fromType = app.game.entity.Hero
            howToGet = getAmount(ValueType.MONEY)
            importClasses = app.game.hero.value.type.ValueType
        }
        iBangyin = {
            fromType = app.game.entity.Hero
            howToGet = getAmount(ValueType.SUIYIN)
            importClasses = app.game.hero.value.type.ValueType
        }
        iGamePoints = {
            fromType = app.game.entity.Hero
            howToGet = getAllTypeYuanBao()
        }
        iBangyuan = {
            fromType = app.game.entity.Hero
            howToGet = getAmount(ValueType.BINDED_YUANBAO)
            importClasses = app.game.hero.value.type.ValueType
        }
        dtCreateTime = {
            fromType = app.game.entity.Hero
            howToGet = getCreateTimeString()
        }
        dtLoginTime = {
            fromType = app.game.entity.Hero
            howToGet = getLoginTimeString()
        }
        vClientIp = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = vClientIp
        }
        iLoginWay = {
            fromType = app.game.module.scene.HeroFightModule
            howToGet = getLoginType()
        }
        life = {
            fromType = app.game.module.scene.FightData
            howToGet = getLife()
        }
        iTaolue = {
            fromType = app.game.entity.Hero
            howToGet = getAmount(ValueType.TAO_LUE)
            importClasses = app.game.hero.value.type.ValueType
        }
        iStockPoint = {
            fromType = app.game.entity.Hero
            howToGet = getAmount(ValueType.STOCK_POINT)
            importClasses = app.game.hero.value.type.ValueType
        }
        iFightAmount = {
            fromType = app.game.entity.Hero
            howToGet = getFightingAmount()
        }
        operateType = {
            fromType = app.game.OperateType
            howToGet = getId()
        }
        goodsType = {
            fromType = app.game.module.goods2.GoodsType
            howToGet = ordinal()
        }
        valueType = {
            fromType = app.game.hero.value.type.ValueType
            howToGet = ordinal()
        }
    }

    replaceArgs {
        FIGHT_DATA = {
            index = 1
            sourceType = app.game.entity.Hero
            targetType = app.game.module.scene.FightData
            howToGet = getFightData()
        }
        HERO = {
            index = 2
            sourceType = app.game.module.scene.HeroFightModule
            targetType = app.game.entity.Hero
            howToGet = getHero()
        }
    }
}